@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');



*{
    color: white;
    text-align: center;
    font-family: "Yatra One";
}

html {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
    background-image: url(./images/1.5612cd2173dfc050890a87a4892273e9.jpg);
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 50%;
    height: 50%;
    border-radius: 20px;
    padding: 5%;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

hr {
    color: white;
}

button {
    width: 25%;
    background-color: orange;
    border-radius: 25px;
}

button img {
    margin-top: 5%;
}

button:hover {
    background-color: orangered;
}

h1, h2, button {
    margin: auto;
}

@media only screen and (max-width: 900px) {
   body {
    width: 85%;
   }
}
